/* SPDX-FileCopyrightText: TNG Technology Consulting GmbH <https://www.tngtech.com>*/
/* SPDX-FileCopyrightText: Leslie Lazzarino <leslie.lazzarino@tngtech.com>*/
/* SPDX-FileCopyrightText: Benedikt Richter <benedikt.richter@tngtech.com>*/

/* SPDX-License-Identifier: Apache-2.0*/

.icon {
    position: absolute;
    width: 12px;
    height: 12px;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.iconRoot {
    position: relative;
    width: 20px;
    height: 20px;
}

.label {
    white-space: nowrap;
}